<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Account</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">              
</head>
<body>
    
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation" data-sidebarClass="navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">Home
                        
                    </a>
                </li>
                <li class="nav-item active">
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('alluser')}}">User List</a>
                </li>
                
            </ul>

        </div>
    </div>
    </nav>
<div class="container">
	<div class="row">	
		
		<h1>All User</h1>
	</div>
	<br>
	<div class="row">	
		Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a>
	</div>
	<br><br>
	<div class="row">
		<div class="col-8 offset-2">
			<table class="table table-striped">
				<thead>
				  <tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Password</th>
				  </tr>
				</thead>
				<tbody>
                    {% for u in users%}
					<tr>
						<td>{{u.userid}}</td>
						<td>{{u.name}}</td>
						<td>{{u.email}}</td>
						<td>{{u.password}}</td>
					</tr>
					{%endfor%}
				</tbody>
			  </table>
		</div>
		
	</div>	
</div>
</body>
</html>