<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Login Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>	


	<!-- Section: Design Block -->
	<section class="vh-100" style="background-color: #9A616D;">
		<div class="container py-5 h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
			  <div class="card" style="border-radius: 1rem;">
				<div class="row g-0">
				  <div class="col-md-6 col-lg-5 d-none d-md-block">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
					  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
				  </div>
				  <div class="col-md-6 col-lg-7 d-flex align-items-center">
					<div class="card-body p-4 p-lg-5 text-black">
	  
						<form action="{{ url_for('login') }}" method="post">
	  
						<h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">User Login</h3>
						{% if mesage is defined and mesage %}
							<div class="alert alert-warning">{{ mesage }}</div>
						{% endif %}
						<div class="form-outline mb-4">
							<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
						  
						</div>

						<div class="form-outline mb-4">
							<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
						</div>

						
	  
						<div class="pt-1 mb-4">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
	  
						<a class="small text-muted" href="#!">Forgot password?</a>
						<p class="mb-5 pb-lg-2" style="color: #393f81;"> Don't have an account? <a href="{{url_for('register')}}"
							style="color: #393f81;">Register Here</a></p>
						<a href="#!" class="small text-muted">Terms of use.</a>
						<a href="#!" class="small text-muted">Privacy policy</a>
					  </form>
	  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>

	
</div>
</body>
</html>